<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{patient.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{patient.list.headline}]]</h1>
                <div>
                    <a th:href="@{/patients/add}" class="btn btn-primary ms-2">[[#{patient.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${patients.empty}">[[#{patient.list.empty}]]</div>
            <div th:if="${!patients.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{patient.id.label}]]</th>
                            <th scope="col">[[#{patient.firstName.label}]]</th>
                            <th scope="col">[[#{patient.lastName.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="patient : ${patients}">
                            <td>[[${patient.id}]]</td>
                            <td>[[${patient.firstName}]]</td>
                            <td>[[${patient.lastName}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/patients/edit/{id}(id=${patient.id})}" class="btn btn-sm btn-secondary">[[#{patient.list.edit}]]</a>
                                    <form th:action="@{/patients/delete/{id}(id=${patient.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{patient.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
