<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{notification.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{notification.list.headline}]]</h1>
                <div>
                    <a th:href="@{/notifications/add}" class="btn btn-primary ms-2">[[#{notification.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${notifications.empty}">[[#{notification.list.empty}]]</div>
            <div th:if="${!notifications.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{notification.title.label}]]</th>
                            <th scope="col">[[#{notification.sendAllPatients.label}]]</th>
                            <th scope="col">[[#{notification.patients.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="notification : ${notifications}">
                            <td>[[${notification.title}]]</td>
                            <td>[[${notification.sendAllPatients}]]</td>
                            <td>[[${notification.emails}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <form th:action="@{/notifications/delete/{id}(id=${notification.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{notification.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
