<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{schedule.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{schedule.add.headline}]]</h1>
                <div>
                    <a th:href="@{/schedules}" class="btn btn-secondary">[[#{schedule.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('schedule')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='schedule', field='date', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='schedule', field='available', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='schedule', field='dSscheduleId', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='schedule', field='sAscheduleId', required=true, type='select')}" />
                <input type="submit" th:value="#{schedule.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
