<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{schedule.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{schedule.list.headline}]]</h1>
                <div>
                    <a th:href="@{/schedules/add}" class="btn btn-primary ms-2">[[#{schedule.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${schedules.empty}">[[#{schedule.list.empty}]]</div>
            <div th:if="${!schedules.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{schedule.id.label}]]</th>
                            <th scope="col">[[#{schedule.date.label}]]</th>
                            <th scope="col">[[#{schedule.available.label}]]</th>
                            <th scope="col">[[#{schedule.dSscheduleId.label}]]</th>
                            <th scope="col">[[#{schedule.sAscheduleId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="schedule : ${schedules}">
                            <td>[[${schedule.id}]]</td>
                            <td>[[${schedule.date}]]</td>
                            <td>[[${schedule.available}]]</td>
                            <td>[[${schedule.dSscheduleId}]]</td>
                            <td>[[${schedule.sAscheduleId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/schedules/edit/{id}(id=${schedule.id})}" class="btn btn-sm btn-secondary">[[#{schedule.list.edit}]]</a>
                                    <form th:action="@{/schedules/delete/{id}(id=${schedule.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{schedule.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
