<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{doctor.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{doctor.add.headline}]]</h1>
                <div>
                    <a th:href="@{/doctors}" class="btn btn-secondary">[[#{doctor.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('doctor')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='doctor', field='id', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='doctor', field='firstName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='doctor', field='lastName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='doctor', field='experienceInYears')}" />
                <div th:replace="~{fragments/forms::inputRow(object='doctor', field='score')}" />
                <div th:replace="~{fragments/forms::inputRow(object='doctor', field='about', type='textarea')}" />
                <input type="submit" th:value="#{doctor.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
